@import "partials/abstract/abstract";

.header-main {
  width: 100%;
  left: 0;
  top: 0;
  height: $header-height;
  display: flex;
  z-index: 2000;
  color: #c8d4e5;

  &-wrapper {
    // .header-main-wrapper
    @include global-wrapper;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-section {
    // .header-main-section
    flex: 1;
    display: flex;
    &.right {
      justify-content: flex-end;
    }
  }
  // --
  // Logo styles
  // --
  .logo {
    position: relative;
    z-index: 9999;
    img {
      max-width: 100%;
    }
    max-width: 140px;
    min-width: 140px;
    margin-right: $unit;
  }

  // --
  // Fix for chrome header jump bug
  // --
  * {
    -webkit-backface-visibility: hidden;
  }
  -webkit-backface-visibility: hidden;

  .nav {
    @include handheld {
      display: none;
    }
  }
}

// --
// Headroom Styles
// --
.headroom {
  background: transparent;
  &-wrapper {
    position: absolute;
    width: 100%;
    z-index: 999;
  }
  &--pinned {
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      content: "";
      background: currentColor;
      opacity: 0.85;
    }
  }
  position: absolute;
}

.nav {
  color: #c8d4e5;

  .button-icon-only,
  .nav-item {
    opacity: 0.75;
    transform: translateY(5px);
    &:hover {
      opacity: 1;
      color: white;
    }
  }
}

.nav-item {
  color: currentColor;
  padding: $unit;
  text-decoration: none;
}
.mobilemenubutton {
  padding-top: $unit;
}
.mobilemenubutton,
.close-button {
  display: none;
  transform: translateX(8px);
  @include handheld {
    display: block;
  }
  svg {
    width: 48px;
    height: 48px;
    * {
      fill: white;
    }
  }
}

.mobile-menu {
  display: none;
  //display: flex;

  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: currentColor;
  background-image: url(https://nteract.github.io/assets/images/hero_header_bg@2x.png);
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: calc(#{$global-width} + 200px);
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  padding: $gutter $gutter*2;
  @include animationFadein;
  animation-duration: 0.2s;
  .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media screen and (max-height: 470px) {
      flex-direction: row;
      a {
        margin-left: $unit !important;
      }
    }
    a {
      padding: $unit 0;
      margin: 0;
      display: block;
      font-size: 2rem;
    }
  }
  .icon-buttons {
    margin-top: $gutter*2;
  }
  &.is-active {
    @include handheld {
      display: flex;
    }
  }
}
