@import "partials/abstract/abstract";

$timing-animation-delay: $timing-animation/2;
* {
  outline: 0;
}
.page-header {
  background-color: transparent;
  background-image: url(https://nteract.github.io/assets/images/hero_header_bg@2x.png);
  background-position: top center;
  background-attachment: fixed;
  background-size: calc(#{$global-width} + 200px);
  background-repeat: no-repeat;
  padding-top: $header-height;
  overflow: hidden;
  &-wrapper {
    @include global-wrapper;
    color: rgba(white, 0.5);
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    padding-top: $gutter*2;
    overflow: hidden;
    h1 {
      animation-delay: $timing-animation-delay/3;
      //@include animationFadeAndSlideInFromTop-sm;
      color: white;
    }

    @include handheld {
      flex-direction: column;
    }

    .download-featurette {
      margin-bottom: $gutter*2;
    }

    .buttons {
      .button {
        &-secondary {
          background: rgba($main-color, 0.5);

          &.active {
            background: $main-color;
          }
        }
      }
    }
  }

  &-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: $gutter*2;
    padding-bottom: $gutter*2;

    p,
    .buttons,
    .footnote {
      animation-delay: $timing-animation-delay/3;
      //@include animationFadeAndSlideInFromBottom-sm;
    }

    @include tablet-up {
      max-width: 550px;
    }
    @include tablet {
      max-width: 50%;
    }
    @include handheld {
      padding-right: 0;
      padding-bottom: 0;
      padding-top: $gutter;
      align-items: flex-start;
      max-width: 100%;
      h1,
      p,
      .buttons {
        max-width: 480px;
      }

      .buttons {
        width: 100%;
        justify-content: flex-start;
      }
    }
  }

  &-right {
    display: flex;
    align-items: flex-end;
    position: relative;
    flex: 1;
    .cutoff-image {
      position: absolute;
      top: 0;
      z-index: 4;
      transition: $transition;
      //width: 100%;
      left: 0;
      width: 100%;
      @include tablet {
        width: 120%;
        max-width: 200%;
      }
      @include tablet {
        top: 80px;
      }
      &:hover {
        top: -40px;
        @include tablet {
          top: 50px;
        }
      }
    }
    @include tablet {
      .video-placeholder {
        display: none !important;
      }
    }
    @include handheld {
      .video-placeholder {
        display: block !important;
      }
    }
    video,
    .video-placeholder {
      margin-top: $gutter*2;
      display: block;
      max-width: 100%;
      animation-delay: $timing-animation-delay/3;
      @include animationFadeAndSlideInFromBottom-sm;
    }

    @include tablet-up {
      $width: 50%;
      max-width: $width;
      min-width: $width;
    }
    @include handheld {
      @include center-content;
      video {
        max-width: 100%;
      }
    }
  }

  &-mobile-message {
    display: none;
    @include handheld {
      display: flex;
    }
    flex-direction: column;
    animation-delay: $timing-animation-delay/3;
    @include animationFadeAndSlideInFromBottom-sm;
    @include animationFadeAndSlideInFromBottom-sm;
    h4 {
      color: white;
    }
  }
}
