{
  "plugins": [
    "transform-flow-strip-types",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "styles": "./styles"
        },
        "cwd": "babelrc"
      }
    ],
    [
      "wrap-in-js",
      {
        "extensions": ["css$", "scss$"]
      }
    ],
    [
      "styled-components",
      {
        "ssr": true
      }
    ]
  ],
  "presets": ["next/babel"],
  "ignore": []
}
