///////////-------------------------------------------------------------------------------------------------------------
///---
/// Buttons
/// buttons.scss
///---
///////////-------------------------------------------------------------------------------------------------------------

.light {
  .buttons {
    .button {
      &-secondary {
        background: white;
        color: rgba($main-color, 0.75);
        text-shadow: none;

        &:hover {
          color: rgba($main-color, 1);
        }
      }
    }
  }
}

.buttons {
  display: flex;
  align-items: center;

  // --
  // When there are multiple buttons in a row
  // --
  .button + .button {
    margin-left: $unit;
  }
}

.button {
  padding: $unit/1.5 $gutter;
  border-radius: 4px;
  transition: $transition;
  user-select: none;
  box-shadow: 0 4px 8px 0 rgba(50, 72, 101, 0.1),
    0 2px 2px 0 rgba(50, 72, 101, 0.1);
  text-decoration: none;
  @include handheld {
    //margin-left: 0 !important;
    //flex: 1 40%;
    //margin-bottom: $unit;
    //margin-right: $unit;
    //&:nth-of-type(even) {
    //  margin-right: 0;
    //
    //}
  }
  &-wrapper {
    display: flex;
    align-items: center;
  }
  &-icon {
    $size: 24px;
    width: $size;
    height: $size;
    margin-right: $unit/2;
    @include handheld {
      margin-right: 0;
    }
    svg {
      * {
        fill: currentColor;
      }
    }
  }
  // --
  // Primary Button Styles
  // --
  &-primary {
    //background: $color-button-default;
    box-shadow: $drop-shadow;
    color: white;
    text-shadow: $text-shadow-default;
    &:hover {
      //background: $color-button-hover;
      cursor: pointer;
    }
    &:active {
      //background: $color-button-active;
      box-shadow: $drop-shadow-pressed;
    }
  }

  &-simple {
  }

  // --
  // Secondary Button Styles
  // --
  &-secondary {
    background: rgba(163, 183, 213, 0.15);
    color: #c8d4e5;
    padding-left: $unit*1.5;
    padding-right: $unit*1.5;
    box-shadow: $drop-shadow-light;
    text-shadow: $text-shadow-default;

    &:hover {
      background: rgba(163, 183, 213, 0.25);
      cursor: pointer;
      box-shadow: $drop-shadow-l-light;
      transform: translateY(-1px);
    }
    &:active {
      background: darken(rgba(163, 183, 213, 0.25), 10%);
      box-shadow: $drop-shadow-pressed;
    }
  }

  &-icon-only {
    background: transparent !important;
    box-shadow: none !important;
    padding-left: 0;
    padding-right: 0;
    svg {
      path {
      }
    }
    .button-icon {
      margin-right: 0;
      padding-right: 0;
    }
  }

  // --
  // Default hover + active states
  // --
  &:hover {
    cursor: pointer;
  }
  &:active {
    @include active-state-transform;
  }
}

//----------------------------------------------------------------------------------------------------------------------
// Hero buttons
//----------------------------------------------------------------------------------------------------------------------
.buttons-hero {
  .button {
    @include tablet-up {
      padding: 0 $gutter;
    }
    color: white;
    &-label {
      padding: $unit*1.5 0;
    }
    &-icon {
      $size: 36px;
      width: $size;
      height: $size;
      margin-right: $unit/2;
      @include handheld {
        margin-right: 0;
      }
      svg {
        * {
          fill: currentColor;
        }
      }
    }
    // --
    // Primary Hero Button
    // --
    &-primary {
      background-color: #f02563;
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.1),
          rgba(255, 255, 255, 0)
        ),
        linear-gradient(#f02563, #f02563);

      &:hover {
        //background: lighten($color-emerald, 5%);
      }
      //&:active {
      //background: darken($color-emerald, 5%);
    }

    // --
    // Secondary Hero Button
    // --
    &-secondary {
      border-color: white;
      color: white;
      box-shadow: $drop-shadow;
      text-shadow: $text-shadow-default;
      margin-right: 0;

      &.button-icon-only {
        opacity: 0.75;
      }
    }
  }
}

.icon-buttons {
  padding-left: $unit;
}
