body {
  font-family: $body-font;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  margin-top: 0;
  color: $title-color;
  font-family: $title-font;
}

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  @include handheld {
    font-size: 1.8rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p {
  line-height: 2rem;
  margin: 0 0 1rem;
  font-weight: 300;
}

a,
ins,
u {
  text-decoration-skip: ink edges;
}

a {
  color: $link-color;
  text-decoration: none;
}

blockquote {
  border-left: 0.2rem solid $border-color;
  margin-left: 0;
  padding: 1rem 2rem;

  p:last-child {
    margin-bottom: 0;
  }

  cite {
    color: $color-text-base;
  }
}

ul,
ol {
  margin: 2rem 0 2rem 2rem;
  padding: 0;

  ul,
  ol {
    margin: 1.5rem 0 1.5rem 2rem;
  }

  li {
    margin-top: 1rem;
  }
}

ul {
  list-style: disc inside;

  ul {
    list-style-type: circle;
  }
}

ol {
  list-style: decimal inside;

  ol {
    list-style-type: lower-alpha;
  }
}

dl {
  dt {
    font-weight: bold;
  }
  dd {
    margin: 0.5rem 0 1.5rem 0;
  }
}

mark {
  background: red;
}

kbd {
  background: black;
  color: white;
}

abbr[title] {
  border-bottom: 0.1rem dotted;
  cursor: help;
  text-decoration: none;
}

.footnote {
  font-size: 0.85rem;
  opacity: 0.5;
  padding-top: $gutter;
  display: flex;
  align-items: center;

  &-message {
    padding-right: $unit/2;
  }

  &-icon {
    $size: 1.4em;
    width: $size;
    height: $size;
    margin-right: $unit/2;
    svg {
      * {
        fill: currentColor;
      }
    }
  }
}
