@import "partials/abstract/abstract";

.nav {
  @include handheld {
    display: flex;
    flex-wrap: wrap;
  }
  &-button {
    display: none;
    @include tablet {
      display: flex;
    }
    align-items: center;
    justify-content: center;
    padding-top: $unit/2;
    svg {
      display: block;
      width: 48px;
      height: 48px;
      color: white;
    }
  }
}
