@import "partials/abstract/abstract";

.footer-main {
  background: #edf1f7;
  padding-top: $gutter*2;
  padding-bottom: $gutter*2;
  .nav {
    color: $main-color;
    .nav-item {
      &:hover {
        color: $main-color;
      }
    }
  }
  &-wrapper {
    @include global-wrapper;
    display: flex;
    justify-content: space-between;
    //padding-top: $gutter*4 0;
    flex-wrap: wrap;
    @include handheld {
      flex-direction: column;
    }
  }
  &-section {
    &:nth-of-type(1) {
      display: flex;
      align-items: center;
    }
    //flex:1;
    //display: flex;
    //align-items: center;
    &.links {
      display: flex;
      @include handheld {
        flex-direction: column;
      }
    }
  }
  .buttons {
    display: flex;
    //flex-direction: column;
    //justify-content: flex-end;
    //align-items: flex-end;
  }
}

.logos {
  padding-right: $gutter*4;
  @include handheld {
    padding-right: 0;
    padding-bottom: $gutter;
  }
  &-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include handheld {
      justify-content: space-between;
    }

    .logo {
      margin-bottom: $unit;
      max-width: 140px;
      min-width: 60px;
      @include handheld {
        max-width: 140px;

        width: 48%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &:not(:first-of-type) {
        padding-left: $gutter;
        @include handheld {
          padding-left: 0;
        }
      }
    }
  }
}
