// ---------------------------------------------------------------------------------------------------------------------
// Colors
// ---------------------------------------------------------------------------------------------------------------------

// ---
// Text and Backgrounds
// ---

$main-color: #334865;

$color-text-base: #313131; // Default text color

// ---
// Primary
// --

// ---
// Accent
// ---

//----------------------------------------------------------------------------------------------------------------------
// Buttons
//----------------------------------------------------------------------------------------------------------------------

// Core colors
$primary-color: #5764c6;
$dark-primary-color: darken($primary-color, 5%);
$light-primary-color: lighten($primary-color, 42%);
$dark-color: #333;
$dark-gray-color: #666;
$gray-color: #999;
$light-gray-color: #ccc;
$light-color: #fff;
$link-color: $primary-color;
$dark-link-color: darken($link-color, 10%);
$border-color: #efefef;
$bg-color: #f8f8f8;
$dark-bg-color: darken($bg-color, 3%);
$light-bg-color: #fff;

// Control colors
$control-color-success: #32b643;
$control-color-warning: #ffb700;
$control-color-danger: #e85600;

// Meta colors
$code-color: #e06870;
$highlight-color: #ffe9b3;
