// Core variables

$unit: 12px;
$gutter: $unit*2;
$global-width: 1250px;
$global-easing: cubic-bezier(0.24, 0.8, 0, 0.97);

$header-height: 72px;

// --
// Animation / transitions
// --
$timing: 0.38s;
$easing: $global-easing;
$transition: $timing all $easing;

// Global
$html-font-size: 10px;
$html-line-height: 1.428571429;
$body-bg: #fff;
$body-font-color: #333;
$body-font-size: 1.4rem;

// Fonts
// Credit: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
$base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
  Roboto;
$fallback-font-family: "Helvetica Neue", sans-serif;
$cjk-font-family: $base-font-family, "PingFang SC", "Hiragino Sans GB",
  "Microsoft YaHei", "Hiragino Kaku Gothic Pro", Meiryo, "Malgun Gothic",
  $fallback-font-family;
$body-font-family: $base-font-family, $fallback-font-family;

// Sizes
$layout-gutter: 1rem;
$control-min-width: 18rem;
$border-radius: 0.2rem;

@import "colors";

// Responsive breakpoints
$size-xs: 480px;
$size-sm: 600px;
$size-md: 840px;
$size-lg: 960px;
$size-xl: 1280px;
$size-2x: 1440px;

@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,600,600i,800,800i|Nunito:300,400,700,800,900");
$title-color: $main-color !default;
$title-font: "Nunito", sans-serif !default;
$body-font: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
  Roboto !default;
