@import "partials/typography";
@import "partials/elements/buttons";

.not-mobile {
  @include handheld {
    display: none !important;
  }
}
.mobile-only {
  display: none;
  @include handheld {
    display: inherit;
  }
}

svg {
  * {
    fill: currentColor;
  }
}
